#aboutbox {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 1930px;
  width: 100%;
  height: auto;
  margin: 0;
}
#projects {
  background-image: url(images/arc.jpg);
  background-size: 1500px 840px;
  height: auto;
  margin-bottom: 0px;
}
.navbar.navbar-light.bg-light {
  color: rgba(240, 248, 255, 0);
}

#resumelink {
  width: 100px;
}
#name.navbar-brand {
  font-size: 60px;
  font-family: "Montserrat Alternates", sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}
.nav-item {
  color: whitesmoke;
}
form {
  position: relative;
  display: inline;
}
.form-group {
  width: 100%;
}
form.form-inline {
  margin-left: 100px;
}
#sbutton {
  float: right;
}
#infobox {
  width: 43%;
  float: right;
}
.display-4 {
  text-align: right;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-right: 90px;
}
#media.card.text-white.bg-secondary.mb-3 {
  margin: 0 auto;
  height: 660px;
}
#media {
  margin: 0 auto;
  width: 40%;
  height: auto;
}

#me {
  border-radius: 50%;
  margin-bottom: 0px;
  margin-left: 5px;
}
#githublink {
  margin-top: 0px;
  float: right;
}
#inlink {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

#bio.lead {
  font-size: 30px;
  margin-top: 220px;
  margin-right: 80px;

  text-align: center;
  margin-left: 80px;
  color: aliceblue;
}
h5.card-title {
  text-align: center;
  color: whitesmoke;
}
p.card-text {
  text-align: center;
  color: whitesmoke;
}
a.btn.btn-primary {
  margin-left: 33px;
}
div.jumbotron.mx-auto {
  padding-top: 90px;
  padding-bottom: 0;
  position: sticky;
  float: left;
  height: 700px;
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(252, 244, 244, 0);
}
#projects.jumbotron.mx-auto {
  width: 100%;
}
.card {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  position: static;
  height: 500px;
}
#contactbox.jumbotron.mx-auto {
  margin: 0;
  width: 100%;
  height: 900px;
  background-image: url(images/contactback.jpg);
  background-size: 1500px 900px;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat Alternates", sans-serif;
  color: whitesmoke;
}
